<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <link rel="stylesheet" href="/static/chessboard-1.0.0.min.css">
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/chessboard-1.0.0.min.js"></script>
  </head>
  <body>
    <main>
      <div id="board" style="width: 800px"></div>
      <button onClick="restart()" style="height: 30px">Restart</button>
      <p id="subtext" style="height: 30px">Play!</p>
    </main>
  </body>
  <script type=text/javascript>
    var board = Chessboard('board',
      {
        position: 'start',
        draggable: true,
        onDrop: onDrop,
      })

    $.get('/', function(res, status, xhr) {
      if (xhr.getResponseHeader("gameover") == "True") {
        document.getElementById("subtext").innerText = "Game over!";
      }
      board.position(xhr.getResponseHeader("fen"));
    });

    function onDrop(source, target, piece) {
      $.get('/move', { "source":source, "target":target }, function(res, status, xhr) {
        if (xhr.getResponseHeader("gameover") == "True") {
          document.getElementById("subtext").innerText = "Game over!";
        }
        board.position(res);
      });
    }

    function restart() {
      $.get('/restart', function(r) {
        board.position(r);
      });
    }

  </script>
</html>
